body {
  background: #333;
  padding: 0;
  margin: 0;
  height: 100vh; 
  border: none;
  display :flex;
  justify-content: center;
  align-items: center;
}
#background-hide {
  background: black ;
  position: absolute;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  display: none;
}
.todo-app {
  background: #fff;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
}

#header-folder {
  text-align: center;
  display: block;
}

.todo-page {
  height: 250px;
  overflow-y: scroll;
  box-shadow: 0px -10px 5px white inset;
  position: relative;
  display: relative;
}
.all-todo-container {
 display: inline;
}
#shadow-ontop-Todo {
  height: 10px;
  width: 100%;
  background: #fff;
  position: sticky;
  top: 0px;
  z-index: 9;
  box-shadow: 0px 5px 5px white;
}
#shadow-onbottom-Todo {
  height: 10px;
  width: 100%;
  background: #fff;
  position: sticky;
  bottom: 0px;
  z-index: 9;
  box-shadow: 0px -5px 5px white;
}

.todo{
  background: #fff;
  display: flex;
  align-items: center;
  border:0;
  border-radius: 7px;
  margin: 7px 5px;
  box-shadow: 0px 2px 5px black;
}
.item-color  {
  width: 7px;
  height: 100%;
  background: greenyellow;
  padding: 60px 0 0 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.todo p{
  margin: 0px 0px 0px 10px;
  padding: 15px 0px 15px 0;
}
.todo i{
  margin: 0px 0px 0px 10px;
}


/* footer box */
#footer-box {
  margin-top: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-box button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  border: 0;
  background: cornflowerblue;
  color: #fff;
  outline: 0;
}
#footer-box button:hover {
  border: 1px solid blue;
}

/* New folder todo maker window */
.create-new-todo {
  background: #fff;
text-align: center;
padding: 10px;
border-radius: 10px;
width: 230px;
position: absolute;
z-index: 99;
top: 30%;
border: 2px solid black;
display: none;
}
.create-new-todo input[type='color'] {
  visibility: hidden;
}
.create-new-todo label {
  background: black;
  border: 1px solid lightskyblue;
  height: 32px;
  width: 32px;
  color: #fff;
}
.create-new-todo input[type='text'] {
  padding: 3px;
  margin: 10px 0px;
  outline: 0;
}
.create-new-todo button {
  font-size: 1rem;
  padding: 2px 10px ;
  width: 30%;
}

