* {
  padding: 0;
  margin: 0;
}

body {
  background: dodgerblue;
}

h3 {
  text-align: center;
}
.app-container {
   height: 90vh;
  
}

.control-panel {
   padding: 0.5rem;
   display: flex;
   gap: 0.3rem;
   flex-wrap: wrap;
   background: #fff;
   margin: 0.3rem 0.5rem 0 0.5rem;
}
.panel-title {
  
}


.shapes {
   width: 49%;
   margin: 0 auto;
  
}
.shapes .shape , .fill-color{
   height: 1.5rem;
   display:flex ;
   justify-content: flex-start;
   align-items: center;
   padding: 0 0.3rem ;
   color: #000;

}

.shapes .shape i , .shapes input {
  padding: 0 0.2rem ;
}




.shapes .shape.shape-selected {
  color: blue;
}

.tools {
   width: 49%;
   margin: 0 auto;
   
}
.tool {
   height: 1.8rem;
   display: flex;
   align-items: center;
   padding: 0 0.3rem;
}
.tool.tool-selected {
   color: blue;
}
.tool i {
   padding: 0 0.3rem;
}


.tool #slider {
   -webkit-appearance: none;
   appearance: none;
   height: 0.4rem;
   border-radius: 0.5rem;
   background : linear-gradient(90deg, dodgerblue 7%, gray 0%);

}

#slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   background: dodgerblue;
   width: 0.7rem;
   height: 0.7rem;
   border-radius: 50%;
}



.colors {
   width: 49%;
   margin: 0 auto;
   
}



input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1.15px;
        position: relative;
        content: '';
        display: inline-block;
        visibility: visible;
        background: rgba(255, 0, 0, 0);
    }

    input[type='radio']:checked:after {
        content: '';
        border: 2px solid black;
        background: transparent;
        display: inline-block; 
    }
    
    
    
#white:after {
   background: floralwhite;
   border: 2px solid grey;
}
#black:after {
   background: #fff;
   border: 2px solid black;
}
#blue:after {
   background: #fff;
   border: 2px solid blue;
}
#red:after {
   background: #fff;
  border: 2px solid red;
}
#green:after {
   background: #fff;
  border: 2px solid green;
}
#yellow:after {
   background: #fff;
  border: 2px solid yellow;
}
#white:checked:after {
   background: white;
   border: 2px solid darkgoldenrod;
}
#black:checked:after {
   background: black;
   border: 2px solid black;
}
#blue:checked:after {
   background: blue;
   border: 2px solid blue;
}
#red:checked:after {
   background: red;
   border: 2px solid red;
}
#green:checked:after {
   background: green;
   border: 2px solid green;
}
#yellow:checked:after {
   background: yellow;
   border: 2px solid yellow;
}

    



.options {
   width: 49%;
   margin: 0 auto;
   
}
.option {
   border: 1px solid gray;
   height: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3px;
   border-radius: 5px;
   width: 100%;
}
#clearBtn {
  background: #fff;
}
#saveImgBtn {
   background: dodgerblue;
   color: #fff;
}


.drawing-board {
   height: 57vh;
   margin :0.3rem 0.5rem;
   border-radius: 0.2rem;
}
.canvas {
   background: #fff;
   width: 100%;
   height: 100%;
   border-radius: 0.2rem;
}

